<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="UniversalInventories.My.MySettings.group10ConnectionString"
            connectionString="Data Source=wstistweb2\ist3;Initial Catalog=group10;User ID=group10;Password=n23fp"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
</configuration>
